@model ClientInterface.Models.Song

@{
    ViewBag.Title = "Chansons du Karaoké";
}


<div id="SongsList">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.mId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mId)
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.mTitle)
            </dt>

            <d>
                @Html.DisplayFor(model => model.mTitle)
            </d>
        </dl>
    </div>
    @Html.ActionLink("Ajouter", "Index", "HomeController", model => model)

</div>

